{% extends "web/home.html" %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load static %}
{% block body %}
<style>
    body {
        color: #fff; /* Color blanco para todas las letras */
    }
</style>

<div class="container py-4">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-group mb-2">
      <label for="id_cliente" class="txt_negrita">Cliente:</label>
      {{ form.cliente|add_class:"form-control" }}
    </div>
    
    <div class="form-group mb-2">
      <label for="id_fecha_pedido" class="txt_negrita">Fecha:</label>
      {{ form.fecha_pedido|add_class:"form-control" }}
    </div>
    
    <div class="text-center">
      <button href="{% url 'crear' %}" type="submit" class="btn btn-primary">Aceptar</button>
      <a href="./" class="btn btn-primary">Cancelar</a>
    </div>
  </form>
</div>
{% endblock body %}
