{% extends "web/home.html" %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load static %}

{% block body %}
<style>
  .form-label {
    color: #fff; /* Color blanco para los nombres de los campos */
  }
</style>

<div class="container py-4">
  <h2 class="text-center mb-4">Formulario de Producto</h2>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
          <label for="id_nombre" class="form-label">Nombre:</label>
          {{ form.nombre|add_class:"form-control" }}
        </div>

        <div class="mb-3">
          <label for="id_precio" class="form-label">Precio:</label>
          {{ form.precio|add_class:"form-control" }}
        </div>

        <div class="mb-3">
          <label for="id_categoria" class="form-label">Categoría:</label>
          {{ form.categoria|add_class:"form-control" }}
        </div>

        <div class="mb-3">
          <label for="id_imagen" class="form-label">Imagen:</label>
          {{ form.imagen|add_class:"form-control mb-3" }}
        </div>
        
        <button type="submit" class="btn btn-primary me-2">Aceptar</button>
        <a href="./" class="btn btn-secondary">Cancelar</a>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
