
{% extends "web/home.html" %}
{# Cargamos la librería #}
{% load django_bootstrap5 %}
{# Widget Tweaks #}
{% load widget_tweaks %}
{# Archivos #}
{% load static %}
{% block body %}

<h4>Detalles</h4>
 
<p><span class="txt_negrita">Cliente:</span> <br> {{object.cliente}}</p>
<p><span class="txt_negrita">Fecha:</span> <br> {{object.fecha_pedido}}</p>

<!-- Botón para volver a la vista principal (Home) -->
<a href="{% url 'leer-pedidos' %}" type="submit" class="btn btn-primary">Volver</a>

{% endblock body %}
