{% extends "web/home.html" %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="mb-5">Editar Perfil</h1>
                </div>
                <a class="btn btn-primary" href="{% url 'agregar_avatar' %}">Agregar Avatar</a> 
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                   

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
