<style>
    body {
        background-image: url("https://www.shutterstock.com/image-photo/crossfit-equipment-on-floor-gym-600nw-756989800.jpg");
        background-size: cover;
        background-position: center;
        color: white;
        font-family: 'Roboto', sans-serif; /* Cambia la fuente a 'Roboto' */
    }
    .container {
        padding-top: 100px;
        text-align: center;
    }
    .description {
        max-width: 800px; /* Aumenta el ancho máximo para adaptarse a una letra más grande */
        margin: 0 auto;
        font-size: 30px; /* Aumenta el tamaño de la letra */
        line-height: 1.6; /* Aumenta el espaciado entre líneas */
        text-align: justify; /* Justifica el texto */
    }
    h1 {
        font-size: 36px; /* Aumenta el tamaño de la letra del encabezado */
        margin-bottom: 30px; /* Agrega un espacio entre el encabezado y el texto */
    }
</style>

<div class="container">
    <h1>Sobre Mí</h1>
    <div class="description">
        <p>Hola, soy Matías Marrero, tengo 29 años. Practico CrossFit y me parecio una buena idea insperar el proyecto en ello</p>
        <p>Además, también trabajo en el área de la seguridad informática, donde busco activamente la protección de los activos de información.</p>
        <p>Descubrí CoderHouse a través de anuncios y decidí tomar el curso de Python. Este curso me ha permitido potenciar mi carrera profesional, ampliar mis habilidades en programación y explorar nuevas oportunidades en el mundo de la tecnología.</p>
        <p>Estoy emocionado por lo que el futuro me depara y por seguir aprendiendo y creciendo en la tecnologia.</p>
    </div>
    <a href="{% url 'home' %}">
        <button type="button">Volver al inicio</button>
      </a>
</div>
